<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.summer_project">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAX8I_H7i-n52upYrylLL-ZQI733a-abgE" />
        <uses-permission android:name="android.permission.INTERNET" />

    </application>
</manifest>